<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" -->
    {% block cssfile %}
        
    {% endblock cssfile %}
    <title>URL Shortener</title>
</head>
<body>
    <a href="{{url_for('home')}}"><img src="https://github.com/Chalsie123/URL-Shortener-Using-Flask/blob/main/images/header.png?raw=true" alt="Abhay"></a>
    <br>
    <h2>URL Shortener Service Provided by Abhay Singh</h2>
    {% block body %}
        
    {% endblock body %}
</body>
</html>